footer {
  width: 100%;
  background: #515151;
  height: 328px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 200px;
    width: 100%;
    background: white;
    background:  url('/assets/images/curve.png');
    background-size: cover;
    background-position: left;
  }
}