.img-w-text-wrapper {
  position: relative;
  background: linear-gradient(90deg, #F9F3F1 0%, #FFFFFF 100%);
  padding-top: 110px;
  padding-bottom: 180px;

  @media (min-width: 1500px) {
    max-width: 1440px;
    margin-inline: auto;
  }
}

.img-w-text-wrapper__bg-top {
  position: absolute;
  left: 0;
  width: 100%;
  top: 0;
  background-color: #fff;

  @media (min-width: 1500px) {
    max-width: 1440px;
    margin-inline: auto;
    left: 50%;
    transform: translateX(-50%);
  }
}

.img-w-text-wrapper__bg-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #fff;

  @media (min-width: 1500px) {
    .img-w-text-wrapper__bg-bottom {
      max-width: 1440px;
      margin-inline: auto;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.img-w-text {
  margin: 0 60px 0;

  & + & {
    margin-top: 60px;
  }

  .container-l {
    padding-inline: 20px;
  }

  &--reverse &__image {
    order: 2;
  }

  &--reverse &__content {
    order: 1;
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 128px;

    @media (max-width: 1280px) {
      gap: 60px;
    }
  }

  &__image {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 100%;
      height: auto;
      max-width: 100%;
      border-radius: 16px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__tagline {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: -5%;
    color: #56405D;
    margin-bottom: 12px;
  }

  &__title {
    font-family: "Judson", serif;
    font-weight: 400;
    font-size: 40px;
    letter-spacing: -5%;
    color: #56405D;
    margin-bottom: 40px;
  }

  &__text {
    font-family: "DM Sans", sans-serif;
    font-weight: 300;
    font-size: 18px;
    letter-spacing: -5%;
    color: #000000;
    color: #56405D;
    max-width: 520px;
  }

  &__buttons {
    display: flex;
    align-items: center;
    gap: 18px;
    margin-top: 40px;
  }

  &__btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: -5%;
    text-align: center;
    padding: 15px 24px;
    border-radius: 50px;
    white-space: nowrap;
    transition: background-color 0.2s;

    &--primary {
      color: #fff;
      background-color: #7281FF;

      &:hover {
        background-color: #7380e6;
      }
    }

    &--secondary {
      color: #fff;
      background-color: #433457;

      &:hover {
        background-color: #5a4873;
      }
    }
  }

  // Tablet
  @media (max-width: 992px) {
    margin: 0;
    padding: 0;

    & + & {
      margin-top: 40px;
    }
  
    &__grid {
      grid-template-columns: 1fr;
      gap: 40px;
    }

    &--reverse &__image {
      order: 1;
    }
  
    &--reverse &__content {
      order: 2;
    }

    &__content {
      align-items: center;
      text-align: center;
    }

    &__text {
      max-width: 100%;
    }

    &__buttons {
      justify-content: center;
    }
  }

  @media (max-width: 768px) {
    &__title {
      font-size: 32px;
      margin-bottom: 10px;
    }

    &__tagline {
      font-size: 18px;
    }

    &__text {
      font-size: 16px;
    }
  }

  // Mobile
  @media (max-width: 576px) {
    &__title {
      font-size: 28px;
    }

    &__tagline {
      font-size: 16px;
    }

    &__text {
      font-size: 14px;
      margin-top: 16px;
    }

    &__buttons {
      flex-direction: column;
      width: 70%;
      margin-top: 28px;
    }

    &__btn {
      width: 100%;
    }
  }
}
