.process {
  position: relative;
  padding-block: 177px 100px;

  @media (max-width: 1200px) {
   background-color: #0D0626;
   padding-block: 50px;
  }

  @media (min-width: 1500px) {
    max-width: 1440px;
    margin-inline: auto;
  }


  @media (min-width: 1200px) {
    &--pull-up {
      margin-top: -300px;
      padding-top: 380px;
    }
  }

  &__background {
    position: absolute;
    top: -50px;
    left: 0;
    width: 100%;
    z-index: -1;

    @media (max-width: 1200px) {
      display: none;
    }
  }

  &__inner {
    padding: 40px 0 80px;
  }

  .container-l {
    padding-inline: 20px;
  }

  &__header {
    margin-bottom: 50px;
  }

  &__tagline {
    display: block;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: -5%;
    color: #fff;
    margin-bottom: 16px;
    text-align: center;
  }

  &__title {
    font-family: "Judson", sans-serif;
    font-weight: 400;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: -5%;
    color: #fff;
    text-align: center;
  }

  &__secondary-title {
    font-family: "Raleway", sans-serif;
    text-align: center;
    color: #fff;
    margin-bottom: 60px;
    font-weight: 300;
    font-size: 20px;
    letter-spacing: -5%;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
  }

  &__icon {
    width: 82px;
    height: 85px;
    margin-bottom: 28px;

    img {
      width: 70%;
      height: 100%;
    }
  }

  &__item-text {
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: -5%;
    color: #C5B4B4;
  }

  &__bottom-text {
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: -0.05em;
    text-align: center;
    color: #fff;
    margin-top: 80px;
  }

  // Tablet
  @media (max-width: 992px) {
    &__title {
      font-size: 42px;
    }

    &__grid {
      grid-template-columns: repeat(2, 1fr);
      gap: 40px;
    }

    &__item {
      text-align: center;
    }
  }

  // Mobile
  @media (max-width: 576px) {
    &__curve-top,
    &__curve-bottom {
      height: 60px;
    }

    &__inner {
      padding: 20px 0 60px;
    }

    &__tagline {
      font-size: 20px;
    }

    &__title {
      font-size: 32px;
    }

    &__header {
      margin-bottom: 48px;
      text-align: center;
    }

    &__secondary-title {
      font-size: 20px;
      margin-bottom: 40px;
    }

    &__grid {
      grid-template-columns: 1fr;
      gap: 32px;
    }

    &__bottom-text {
      font-size: 20px;
      margin-top: 48px;
    }
  }
}